<!DOCTYPE html>
<html>
<head>
    <title>College Chatbot</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- CSS -->
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>

<div class="chat-container">
    <h2>🎓 College Chatbot</h2>

    <div id="chat-box"></div>

    <div class="input-box">
        <input
            id="userInput"
            placeholder="Ask something..."
            onkeydown="handleKey(event)"
        >
        <button onclick="sendMessage()">Send</button>
    </div>
</div>

<script src="/static/script.js"></script>

</body>
</html>
